header nav{
  border:1px solid black;
} 

.project-list{
  border:3px solid purple;
}
.project-card{
  width:300px;
}
.project-card img{
  width:100%;
}
.project-card .title{
  text-align: center;
  padding:10px 0;
  font-size:20px;
  font-weight: bold;
  border: 1px solid #efefef
}
.project-card .project-footer{
  padding:10px 0;
  border: 1px solid #efefef
}