.App{
  /* font-family: 'Roboto Mono', monospace;*/
  font-family: 'Roboto', sans-serif; 
  /* font-family: 'Roboto Condensed', sans-serif; */
  line-height: 1.5rem;
}

:local(.odd){
  width:100%;
  order:1;
}
